<h3>Portfolio</h3>
<br/>

<table class='table'>

  <thead>
    <th>Cost Basis</th>
    <th>Current Value</th>
    <th>Profit/Loss</th>
    <th>1d</th>
    <th>7d</th>
    <th>30d</th>
  </thead>

  <tbody>
    <tr>
      <td>{{ cash | currency }}</td>
      <td>{{ cash | currency }}</td>
      <td ng-class="{green: profit > 0, red: profit < 0}">{{ profit | currency }}</td>
      <td></td>
      <td></td>
      <td></td>
    <tr>
  </tbody>

</table>


<br/>
<table class='table table-striped'>
  <thead>
    <th>Symbol</th>
    <th>Quantity</th>
    <th>Cost Basis</th>
    <th>Current Value</th>
    <th>Profit/Loss</th>
    <th>Current Price</th>
    <th>1d</th>
    <th>7d</th>
    <th>30d</th>
    <th>Trade?</th>
  </thead>
  <tbody>
    <tr>
      <td>CASH</td>
      <td>{{cash | currency}}</td>
      <td>{{cash | currency}}</td>
      <td>{{cash | currency}}</td>
      <td>CASH</td>
      <td>CASH</td>
      <td>CASH</td>
      <td>CASH</td>
      <td>CASH</td>
      <td class='trade-link'>trade</td>
    </tr>
    <tr ng-repeat="stock in purchasedStocks" portfolio-stock stock='stock' current-value="currentValue(sym, quantity)">
    </tr>
  </tbody>
</table>
